
@font-face {
    font-family: "DEC Terminal Modern";
    src: local("_decterm.tff"), url("fontes/_decterm.ttf");
}

h3, h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#titulo-sobre {
    font-style: italic;
    opacity: 0.8;
    color: #52779d;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

body {
    background-color: black;
}

form {
    text-align: center;
}


input, textarea, #contador {
    position: absolute;
    font-family: DEC Terminal Modern;
    background-color: black;
    color: #559EB5;
    border-color: #559EB5;
    border-radius: 8px;
    border-style: ridge;
    text-align: center;
    width: 300px;
}


#email {
    right: 38%;
    top: 35%;
}

#assunto {
    right: 38%;
    top: 42%;
}

#msg {
    resize: none;
    text-align: center;
    height: 100px;
    right: 38%;
    top: 49%;
}


#enviar, #contador {
    float: left;
    right: 38%;
    top: 70%;
}

#contador {
    top: 65%;
    border: none;
}

.link_pos {
    position: absolute;
    right: 60px;
}

.photo {
    float: right;
}

.msg-contato {
    position: absolute;
    left: 30%;
    top: 15%;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #52779d;
}

::-webkit-input-placeholder {
    color: #559EB5;
 }
